{% extends 'header.html'%}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bot.css') }}">
<!-- inner banner -->
    <div class="inner-banner-w3ls d-flex align-items-center text-center">
        <div class="container">
            <h6 class="agileinfo-title">CHATBOT</h6>
        </div>
    </div>
    <div align="right"><br>Welcome {{user}}&emsp;&emsp;</div>
<!-- //inner banner -->
<!-- Default form  -->
    <section>
        <br><br>
        <!--<div align="center">
            <h1><strong>Question answering Example</strong></h1>
            <h3> </h3>
        </div>-->
        <!--<div>
        <div  style="padding-left: 10px">
            <div id="chatbox">
                <p class="botText"><span>Ask me</span></p>
            </div>
            <div>
                <div>
                    <video width="320" height="240" controls>
                        <source src="/static/Cryptography basics_ What is Encryption and Decryption.mp4" type="video/mp4">
                    </video>
                </div><br>
                <div>
                    <video width="320" height="240" controls>
                        <source src="/static/nlpf.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div id="userInput">
                <input id="textInput" type="text" name="msg" placeholder="Message">
                <input id="buttonInput" type="submit" value="Send">
            </div>

        </div>

        </div>-->
        <div class="container">
            <div align="center">
                <h1><strong>Smart Hub</strong></h1>
            </div>
 <div align="center">
					
                      Smart Hub is an education company. But not one in the way you might think.				  
We’re committed to building the best learning experience inside and out, making Smart Hub the best place for students to learn, teach, and create the online learning experience of the future.
Education is old. The current public school system in the US dates back to the 19th century and wasn’t designed to scale the way it has. Lots of companies are working to “disrupt” education by changing the way things work in the classroom and by bringing the classroom online.
We are rethinking education from the bottom up. The web has rethought nearly everything - commerce, social networking, healthcare, and more. We are building the education the world needs - the first truly net native education. We take more cues from modern tech innovators in creating an engaging educational experience than we do from the classroom. Education is broken. Come help us build the education the world deserves.
The best part of Smart Hub is that it provides answers to all the questions asked by the students automatically without any delay and without any help from a tutor.
                    </div>
            <div class="row">
               
                <div class="col-xs-5 col-sm-6 col-lg-4">
                   
                </div>
            </div>

        </div>


        <br><br>

        

    </section>
{% endblock %}