{% extends 'header.html'%}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bot.css') }}">
<!-- inner banner -->
    <div class="inner-banner-w3ls d-flex align-items-center text-center">
        <div class="container">
            <h6 class="agileinfo-title">CHATBOT</h6>
        </div>
    </div>
    <!--<div align="right"><br>Welcome {{user}}&emsp;&emsp;</div> -->
<!-- //inner banner -->
<!-- Default form  -->
    <section>
        <br><br>
        <!--<div align="center">
            <h1><strong>Question answering Example</strong></h1>
            <h3> </h3>
        </div>-->
        <!--<div>
        <div  style="padding-left: 10px">
            <div id="chatbox">
                <p class="botText"><span>Ask me</span></p>
            </div>
            <div>
                <div>
                    <video width="320" height="240" controls>
                        <source src="/static/Cryptography basics_ What is Encryption and Decryption.mp4" type="video/mp4">
                    </video>
                </div><br>
                <div>
                    <video width="320" height="240" controls>
                        <source src="/static/nlpf.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div id="userInput">
                <input id="textInput" type="text" name="msg" placeholder="Message">
                <input id="buttonInput" type="submit" value="Send">
            </div>

        </div>

        </div>-->
        <div class="container">
            <div align="center">
                <h1><strong>Smart Hub</strong></h1>
            </div>
 <div align="center">
					Aathira nair:-8169007035<br>
					Dipanjan das:-9920370845
                      </div>
            <div class="row">
               
                <div class="col-xs-5 col-sm-6 col-lg-4">
                   
                </div>
            </div>

        </div>


        <br><br>

        

    </section>
{% endblock %}