{% extends 'header.html'%}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

<!-- inner banner -->
    <div class="inner-banner-w3ls d-flex align-items-center text-center">
        <div class="container">
            <h6 class="agileinfo-title">Home</h6>
        </div>
    </div>
    <div align="right"><br>Welcome {{user}}&emsp;&emsp;</div>
<!-- //inner banner -->
    <script>
        $( document ).ready(function(){
            $.ajax({
                url: '/getdata',
                type: 'get',
                success: function(data){
                    //console.log(data);
                    $.each(data, function( index, value ) {
                        //console.log(value);
                        $.each(value, function( index1, value1 ) {
                            //console.log(value1);

                            if(index1 == 6)
                            {
                                $('#previousplaces').append('<option value='+value1+'>'+value1+'</option>');
                            }

                            if(index1 == 4)
                            {
                                $('#place').append('<option value='+value1+'>'+value1+'</option>');
                            }
                        });
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                    $('#content').html(errorMsg);
                  }
            });
        });
    </script>

<!-- Default form  -->
    <section>
        <br><br>
        <div  align="center" >
			<div class="form-style-2" style="box-shadow: 2px 10px 18px #888888; " >
                <!-- Default form contact -->
                <form class="text-left border border-light p-4" method="POST" action="/recommend">
                    <!-- Name -->
                    <label>Age</label>
                    <input type="number" id="defaultContactFormName" class="form-control mb-4" name="age" placeholder="age" min="10" max="100" required>
                    <!-- Default inline 1-->
                        <label>Gender</label>
                        <div class="custom-control custom-radio custom-control-inline">&ensp;&ensp;
                          <input type="radio" class="custom-control-input" id="gender1" name="gender" value="male" required>
                          <label class="custom-control-label" for="gender1">Male</label>
                        </div>

                        <!-- Default inline 2-->
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" class="custom-control-input" id="gender2" name="gender" value="female" required>
                          <label class="custom-control-label" for="gender2">Female</label>
                        </div>

                    <label>No.of people</label>
                    <input type="number" id="noofpeople" class="form-control mb-4" name="noofpeople" placeholder="No.of People" min="1" required>

                    <label>Budget</label>
                    <input type="text" id="budget" class="form-control mb-4" name="budget" placeholder="Budget" required>

                    <label>Spot loving </label>
                    <select class="browser-default custom-select mb-4" id="place" name="place" required>
                        <option value="">Choose option</option>
                    </select>

                <!--    <label>Spot loving </label>
                        <input type="text" class="form-control mb-4" name="place" placeholder="Address" required>-->

                    <label>Address</label>
                    <input type="text" id="address" class="form-control mb-4" name="address" placeholder="Address" required>

                   <!-- <label>Previous Places</label>
                    <select class="browser-default custom-select mb-4" required>
                        <option value="" disabled>Choose option</option>
                        {% for a in records %}
                             <option value="{{ a[6] }}">{{ a[6] }}</option>
                        {% endfor %}
                    </select>-->

                    <label>Previous Places</label>
                    <select class="browser-default custom-select mb-4" id="previousplaces" name="prevplaces" required>
                        <option value="">Choose option</option>
                    </select>
                    <!-- Send button -->
                    <button class="btn btn-info btn-block" type="submit">Send</button>
                </form>
<!-- Default form contact -->
            </div>
        </div>
        <br><br>
    </section>
{% endblock %}